@charset "utf-8";

/* CSS Document */

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

body {
    font: 12px, HELVETICA;
    background: #fff;
}

body {
    font-family: "\5FAE\8F6F\96C5\9ED1";
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre
}

.ind {
    text-indent: 2em
}

.ind10 {
    text-indent: 10px;
}

.noborder {
    border: 0;
}

.left {
    float: left
}

.right {
    float: right
}

.clear:after {
    content: ".";
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block
}